<div class="main-page">
  <h1>Welcome to myFlix!</h1>

  <ng-container *ngIf="!isLoggedIn; else loggedInView">
    <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary" style="margin-right: 10px;">
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" color="primary" style="margin-right: 10px;">
      Login
    </button>
  </ng-container>

  <ng-template #loggedInView>
    <button mat-raised-button (click)="redirectToProfile()" color="primary" style="margin-right: 10px;">
      Profile
    </button>
    <button mat-raised-button (click)="redirectToMovies()" color="primary" style="margin-right: 10px;">
      View All Movies
    </button>
    <button mat-raised-button (click)="logout()" color="warn">
      Logout
    </button>
  </ng-template>
</div>
