<div>
  <nav>
    <button mat-button color="primary" (click)="redirectProfile()">User Profile</button>
    <button mat-button color="primary" (click)="logout()">Logout</button>
  </nav>
  <div class="movie-container">
    <mat-card *ngFor="let movie of movies" class="movie-card">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>Directed by: {{ movie.director }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="movie.image" [alt]="movie.title" />
      <mat-card-actions>
        <button mat-button color="primary" (click)="showDetail(movie)">Synopsis</button>
        <button mat-button color="accent" (click)="showGenre(movie)">Genre</button>
        <button mat-button color="accent" (click)="showDirector(movie)">Director</button>
        <button mat-icon-button (click)="modifyFavoriteMovies(movie)">
          <mat-icon>{{ movie.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
